html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

header {
	background-color: #262626;
	width: 100%;
	height: 56px;
}

header h1 {
	font-weight: normal;
	font-family: sans-serif;
	line-height: 56px;
	color: white;
	margin-left: 36px;
	margin-bottom: 0;
}

#search-box {
	position: absolute;
	margin: 16px auto;
	max-width: 400px;
	display: flex;
	left: 0;
	right: 0;
}

#search-box > * {
	height: 36px;
	display: inline-block;
	vertical-align: bottom;
	border: none;
}

#search-box button {
	padding: 0 8px;
}

#search-input {
	flex: 1;
	border-radius: 5px 0 0 5px;
	margin-left: 16px;
	padding: 0 16px;
}

#search-button {
	border-radius: 0 5px 5px 0;
	background-color: #42A5F4;
}

#search-button .material-icons {
	color: white;
}

#geo-button {
	margin: 0 16px;
	border-radius: 5px;
}

#map-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 56px;
}

#map {
	height: 100%;
}

#sidepane, .sidepane-content {
	width: 360px;
}

#sidepane {
    position: fixed;
    height: 100%;
    background-color: #fefefe;
    box-shadow: 0 0 10px -5px black;
    overflow: hidden;
    transition: width 0.3s ease-out;
}
