<html>
    <head>
    	{{> 'head.hbs'}}
        <title>Rebu - Account</title>
    </head>
    <body>
    	{{> 'header.hbs'}}
        <div id="content-wrapper">
            hello there
        </div>
        {{> 'sidepane.hbs'}}
        {{> 'scripts.hbs'}}
    </body>
</html>
