<html>
    <head>
    	{{> 'head.hbs'}}
        <title>Rebu - Homepage</title>
    </head>
    <body>
    	{{> 'header.hbs'}}
        <div id="map-wrapper">
            <div id="map"></div>
        </div>
        {{> 'sidepane.hbs' static=true }}
        {{> 'scripts.hbs'}}
        <script src="/js/admin.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&callback=initMap"></script>
    </body>
</html>
