<header>
    <a href="/"><h1>Rebu</h1></a>
    <div class="g-signin2" data-onsuccess="onLogin"></div>
    <button id="logout" onclick="signOut()" style="visibility: hidden;">LOG OUT</button>
</header>
