<header>
    <a href="/"><h1>Rebu</h1></a>
    <div class="g-signin2" data-onsuccess="onLogin"></div>
    <div id="header-links" style="visibility: hidden;">
    	<a href="/account">ACCOUNT</a>
    	<a onclick="signOut()">LOG OUT</a>
    </div>
</header>
