<html>
    <head>
        <title>Car Share</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <h1>Car Share</h1>
        </header>
        <div id="map"></div>
        <script src="js/main.js" defer></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&callback=initMap" async defer></script>
    </body>
</html>
